/* Google Images */
.viz_googleimages text {
    font: 1em sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.sel {
    fill:#43BBD0 !important;
    -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease;
}

.lang, .tag{
    cursor: pointer;
}

.viz_googleimages svg {
    margin-right: 2%;
}

.viz_googleimages{
    width:100%;
    height:100%;
    overflow:hidden;
}

.googleimages.container{
    height:90%;
}
.googleimages .imgs{
    margin-top:50px;
    float:left;
    width:100%;
    overflow:auto;
}
#google-imgs-grid {
    width: 100% !important;
}

.list-labels .glyphicon {
    font-size:0.7em;
    cursor:pointer;
}

.googleimages .slider{
    width:75% !important;
    float:left;
    clear:right;
    margin-top:10px;
    margin-bottom:10px;
}

.googleimages .rad{
    margin:0px 0px 10px 6%;

}
.googleimages .img-cont{
    float:left;
    transition: width 2s;
    -webkit-transition: width 0.2s; /* Safari */
    transition: height 2s;
    -webkit-transition: height 0.2s; /* Safari */
}

.googleimages .smallImg{
    width:100%;
    height:auto;
    opacity:0;
}

.googleimages .labels{
    margin-top:0px;
}

.googleimages .labels h3,.googleimages .list-labels h3{
    font-variant:small-caps;
    font-size:1em;
    color:#222;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;

}

.googleimages .list-labels h3 {
    margin-bottom:5px;
}

.show-lbl{
width:15%;
}
.size-lbl{
    width:79%;
}

.googleimages .list-labels{
    width:45%;
    float: left;
}
.googleimages .cmd-labels{
    width:100%;
    float:left;
}

.googleimages .cmd-labels h3{
    display: block;
    float: left;
}
.googleimages .list-labels h3{
    display:inline-block;
    margin-right:3%;
    width:45%;
}

.googleimages .slider .tooltip{
    display:none;
    bottom:auto;
    border-width: 5px !important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top:270%;
    border-bottom: 5px solid black;
}

/* Google Images To Check */

.viz_googleimages{
    width:100%;
    height:90%;
    overflow:hidden;
}

.viz_googleimages text {
    font: 11px sans-serif;
    font-family: 'Montserrat';
    text-transform: capitalize;
}



/* Components */

#custom p {
    margin-bottom: 50px;
}

.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.slider.slider-horizontal {
    width: 210px;
    height: 20px;
}
.slider.slider-horizontal .slider-track {
    height: 2px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider.slider-horizontal .slider-selection {
    height: 100%;
    top: 0;
    bottom: 0;
}
.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -3px;
}
.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    border-bottom-color: #cbccce;
    margin-top: 0;
}
.slider.slider-vertical {
    height: 210px;
    width: 20px;
}
.slider.slider-vertical .slider-track {
    width: 10px;
    height: 100%;
    margin-left: -5px;
    left: 50%;
    top: 0;
}
.slider.slider-vertical .slider-selection {
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}
.slider.slider-vertical .slider-handle {
    margin-left: -5px;
    margin-top: -10px;
}
.slider.slider-vertical .slider-handle.triangle {
    border-width: 10px 0 10px 10px;
    width: 1px;
    height: 1px;
    border-left-color: #cbccce;
    margin-left: 0;
}
.slider input {
    display: none;
}
.slider .tooltip-inner {
    white-space: nowrap;
}
.slider-track {
    position: absolute;
    height:2px;
    cursor: pointer;
    background-color: #cbccce;

}
.slider-selection {
    position: absolute;
    background-color: #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slider-handle {
    position: absolute;
    width: 17px;
    height: 10px;
    background-color: #9E9EA0;
    border: 0px solid transparent;
}

.slider-handle.triangle {
    background: transparent none;
}

/*Single Buttons*/
#custom .btn {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
}



#custom .btn:focus {
    background-color: #cbccce;
}

.btn, .btn:hover{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.rad {
    width:15%;
    margin-left:1%;
}

.rad .show-lvl{
    width:100%;
    margin-top: 5px;
}
.rad button {
    border-radius:0;
    width:50%;
    display:block;
}
.img-filters{
    float:left;
    width:15% !important;
}

.controllers{
    width:81%;
    float:left !important;
}
.sort-active{
    color: #43BBD0;
    font-weight:bold;
}
.sort{
    cursor:pointer;
}
.googleimages{
    opacity:0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.progress-cont{
    width:25%;
    position:relative;
    top:30%;
    margin:0 auto;

}
.img-filters h3{
    width:auto !important;
}
.progress-bar{
    background-color:#43BBD0;
}

.progress{
    height:3px;
    border-radius: 0;
    margin-top:5px;
}
.imgs img{
    display: block;
}
.cmd-labels h3{
    padding-left:1%;
}

.progress-lbl h6{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #404040;
    font-weight: 400;
    font-size:0.8em;
    text-align: center;
    letter-spacing:10px;
}